In [1]:
import pandas as pd

data=pd.read_csv("Hotel_Reviews.csv")

In [2]:
data.head(1)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [ ]:
tags=data.Tags
allTagstemp=[]

for i in tags:
    splitted=i.split(",")
    for j in splitted:
        eachsplit=j.split("'")
        for k in eachsplit:
            if len(k.strip())>1 :
                if k not in allTagstemp:
                    allTagstemp.append(k)

print(allTagstemp)

In [ ]:
allTags=[]
for i in allTagstemp:
    allTags.append(i.strip())
print(allTags)

In [ ]:
with open("tagsfile.txt","w+") as f:
    for i in allTags:
        f.write("%s\n"%i)
print("Done")

In [ ]:
data.head(1)

In [15]:
data.drop(['Additional_Number_of_Scoring','Review_Date','Reviewer_Nationality','Negative_Review','Total_Number_of_Reviews','Positive_Review','Total_Number_of_Reviews_Reviewer_Has_Given','Reviewer_Score','days_since_review','lat','lng'],axis=1,inplace=True)

In [ ]:
data.head(1)

In [2]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('omw-1.4')
nltk.download('punkt_tab')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from ast import literal_eval

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\arabi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\arabi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\arabi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\arabi\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\arabi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

In [17]:
data.Hotel_Address = data.Hotel_Address.str.replace("Netherlands","NL")
data.Hotel_Address = data.Hotel_Address.str.replace("United Kingdom","UK")
data.Hotel_Address = data.Hotel_Address.str.replace("France","FR")
data.Hotel_Address = data.Hotel_Address.str.replace("Spain","ES")
data.Hotel_Address = data.Hotel_Address.str.replace("Italy","IT")
data.Hotel_Address = data.Hotel_Address.str.replace("Austria","AT")

In [18]:
data["countries"] = data.Hotel_Address.apply(lambda x : x.split(" ")[-1])

In [ ]:
data.countries.unique()

In [ ]:
data.head(1)

In [19]:
def taglist(column):
    column=column[0]
    if(type(column) != list):
        return "".join(literal_eval(column))
    else:
        return column

data["Tags"]=data[["Tags"]].apply(taglist,axis=1)
data.head(1)

C:\Users\ROUSHAN\AppData\Local\Temp\ipykernel_7960\3677509896.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  column=column[0]

,Hotel_Address,Average_Score,Hotel_Name,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Tags,countries
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,397,11,Leisure trip Couple Duplex Double Room Sta...,NL

In [20]:
data["Tags"]=data["Tags"].str.lower()
# data["countries"]=data["countries"].str.lower()

In [21]:
data['Word_Score']=((data['Review_Total_Positive_Word_Counts']-data['Review_Total_Negative_Word_Counts'])/(data['Review_Total_Positive_Word_Counts']+data['Review_Total_Negative_Word_Counts']))*10

In [22]:
data['Word_Score'] = [x if x>=0 else 10+x for x in data['Word_Score']]

In [23]:
data['Word_Score'].isnull().sum()

np.int64(127)

In [24]:
data['Word_Score']=data['Word_Score'].fillna(5)

In [25]:
data['Word_Score'].isnull().sum()

np.int64(0)

In [26]:
data.head(5)

,Hotel_Address,Average_Score,Hotel_Name,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Tags,countries,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,397,11,leisure trip couple duplex double room sta...,NL,0.539216
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,0,105,leisure trip couple duplex double room sta...,NL,10.000000
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,42,21,leisure trip family with young children dup...,NL,6.666667
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,210,26,leisure trip solo traveler duplex double ro...,NL,2.203390
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,140,8,leisure trip couple suite stayed 2 nights ...,NL,1.081081

In [ ]:
hotelNames=data['Hotel_Name']

allHotels=[]

for i in hotelNames:
    if i not in allHotels:
        allHotels.append(i)

print(allHotels)

In [ ]:
with open("hotelnamefile.txt","w+") as f:
    for i in allHotels:
        f.write("%s\n"%i)

print("Done")

In [27]:
data.drop(['Review_Total_Negative_Word_Counts','Review_Total_Positive_Word_Counts'],axis=1,inplace=True)
data.head(5)

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,0.539216
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,10.000000
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,6.666667
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,2.203390
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,1.081081

In [28]:
data.to_csv("ReviewData.csv",index=False)